<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">

<div class='w-full bg-white border-t-2 border-red'>
  <div class='max-w-2xl m-auto p-3'>
    <div class='flex justify-between w-full'>
      <div>
        <div class='border-r pr-4 border-grey inline-block'>
          班表小幫手
        </div>
        <div class='pl-4 inline-block'>
          工時分析
        </div>
        <div class='pl-4 inline-block'>
          班表規劃
        </div>
        <div class='pl-4 inline-block'>
          法令追蹤
        </div>
      </div>
    </div>
  </div>
</div>
{{ partial "header.html" . }}
{{ partial "home.html" . }}
{{ partial "footer.html" . }}

<style>
.service p {
  font-size: 1.1rem;
}
</style>
