<div class="row section topspace">
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
              <p>班表小幫手是個<b>開源專案</b>。所有人都可以直接使用、改作、加入協作或發展出更新的版本。過程透明、更容易協作，成果共享。</p>
            </div>
            <div class="col-lg-4 text-right">
                <a href="https://github.com/g0v/tw-shift-schedule" class="btn btn-primary btn-lg">Github Repo</a>
            </div>
        </div>
    </div>
</div> <!-- /section -->

<div class="row section topspace">
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
              <p>班表小幫手是從<b> g0v 零時政府社群</b>所延伸出來的專案。想找志同道合的人一起讓社會更好嗎？你也可以是社群的一份子。</p>
            </div>
            <div class="col-lg-4 text-right">
                <a href="https://g0v.tw/zh-TW/" class="btn btn-primary btn-lg">g0v 零時政府</a>
            </div>
        </div>
    </div>
</div> <!-- /section -->
