<div class="row section featured topspace">

    <h2 class="section-title"><span>特色功能</span></h2>

    <div class="service">
        {{ range where .Data.Pages "Section" "service" }}
            <div class="col-sm-6 col-md-3">
                <h3 class="text-center">{{ .Title }}</h3>
                <p>{{ .Summary }}</p>
                <p class="text-center"><a href="{{ .Params.Link }}" class="btn btn-action" style="margin-top: 30px; margin-bottom: 30px">開始使用</a></p>
            </div>
        {{ end }}
    </div>

</div> <!-- / section -->
